.features {
  margin-bottom: -90px;

  &__list {
    display: flex;
    margin: auto;
    justify-content: space-between;
  }

  &__box-icon {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--desc-text-color);
    width: 270px;
  }
}
