.features {
  @media screen and (min-width: 768px) {
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
  &__items {
    margin: 15px;
  }
  &__box-icon {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--desc-text-color);
    width: auto;

    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
