.features {
  margin-bottom: -90px;
  &__list {
    margin-bottom: -30px;
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      background-color: tomato;
      flex: wrap;

      flex-basis: calc(100% / 2);
    }
    // display: flex;
    // margin: auto;
    // justify-content: space-between;
  }
  &__items {
    @media screen and (min-width: 768px) {
      display: flex;
      background-color: tomato;
      flex: wrap;

      flex-basis: calc(100% / 2);
    }
  }

  &__box-icon {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--desc-text-color);
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
}
