.features {
  margin-bottom: -60px;

  &__list {
    // display: flex;
    // margin: auto;
    // justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__box-icon {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;

    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--desc-text-color);
    width: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
