.footer-social {
  @media screen and (min-width: 768px) {
    width: 369px;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    margin-top: -5px;
    margin-left: 70px;
  }

  &__list.social {
    margin-top: 20px;
    margin-bottom: 0;
  }
  &__text {
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__svg {
    fill: #ffffff;
  }
}
