:root {
  --logo-text-color: #2196f3;
  --header-communication-text-color: #757575;
  --main-title-color: #ffffff;
  --accent-color: #2196f3;
  --modal-color: #212121;
  --form-input-text: #757575;

  --button-text-color: #ffffff;
  --btn-acent-color: #ffffff;

  --desc-text-color: #757575;

  --footer-adress-text-color: #ffffff;
  --footer-communication-text-color: rgba(255, 255, 255, 0.6);
  --work-text: #ffffff;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
