.mobile {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;

  padding: 21px 25px 48px 40px;
  .mobile__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__button--close {
    display: block;
    margin-left: auto;
    margin-bottom: 8.33px;
  }
  &__close {
    background-color: transparent;
    border: right 0;

    transition: fill var(--time) var(--cubic-bezier);
    &:focus,
    &:hover {
      fill: var(--accent-color);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &__communication-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  &__communication-mailto {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  &__sokial {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
// змінити класи!!!
  &__li {
    &:not(:last-child) {
      margin-right: 10px;

      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }

  &__communication-item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__communication {
    margin-bottom: 64px;
  }
  &__sokial--list {
    display: flex;
  }
}

.mobile__link--active {
  color: var(--accent-color);
}
